.contact-hero {
  margin-top: 138px;
  margin-bottom: 90px;
}

#overwrite-contact .contact-card {
  text-align: center;
  background: linear-gradient(
    270deg,
    #e8f1ff 0%,
    #ecf4ff 41.15%,
    #f3f8ff 65.1%,
    #ffffff 93.75%
  );
  border: none;
  padding: 20px;
  color: var(--primary-color);
}

#overwrite-contact .contact-card .card-body a {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  color: var(--primary-color);
}
@media (max-width: 576px) {
  .contact-hero {
    margin-top: 85px !important;
    margin-bottom: 27px !important;
  }
}
@media (max-width: 992px) {
  .contact-hero {
    margin-top: 110px;
    margin-bottom: 30px;
  }
  #overwrite-contact .second-contact-card {
    background: linear-gradient(
      90deg,
      #e8f1ff 0%,
      #ecf4ff 41.15%,
      #f3f8ff 65.1%,
      #ffffff 93.75%
    );
  }
  #overwrite-contact .card-title {
    font-size: 2em;
  }
  #overwrite-contact .contact-card .card-body a {
    font-size: 1.3rem;
  }
}
