:root {
  --primary-color: #5d67c1;
  --secondary-color: #e8f1ff;
  --accent-color: #ffb240;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.navbar-style {
  background-color: var(--secondary-color);
}

#overwrite a.nav-link.active {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent-color);
}

.navigation-link {
  display: block;
  margin: 25px auto;
  width: fit-content;
  background-color: var(--accent-color);
  border-radius: 100px;
}

a.primary-link {
  color: white;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 3rem;
  text-decoration: none;
}

.dots-img-rotated {
  transform: rotate(180deg);
  float: right;
}

#overwrite .dots-img-rotated,
#overwrite .dots-img {
  max-width: 40%;
}

@media (max-width: 576px) {
  .dots {
    display: none;
  }
  h1, h2, h3 {
      zoom: 70%
  }
  h1 {
      padding-top: 10px;
  }
  a.primary-link {
      zoom: 80%
  }
}
