:root {
  --primary-color: #5d67c1;
  --secondary-color: #e8f1ff;
  --accent-color: #ffb240;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.navbar-style {
  background-color: var(--secondary-color);
}

#overwrite a.nav-link.active {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent-color);
}

.navigation-link {
  display: block;
  margin: 25px auto 50px;
  width: fit-content;
  background-color: var(--accent-color);
  border-radius: 100px;
}

a.primary-link {
  color: white;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 3rem;
  text-decoration: none;
}

.dots-img-rotated {
  transform: rotate(180deg);
  float: right;
}

#overwrite .dots-img-rotated,
#overwrite .dots-img {
  max-width: 40%;
}

.portfolio-project-description-right {
  background: linear-gradient(
    270deg,
    #e8f1ff 0%,
    #ecf4ff 41.15%,
    #f3f8ff 65.1%,
    #ffffff 93.75%
  );
  padding: 50px 70px;
  color: var(--primary-color);
}

.portfolio-project-description-right h4,
.portfolio-project-description-left h4 {
  font-weight: normal;
}

.portfolio-project-description-right p,
.portfolio-project-description-left p {
    line-height: 1.7;
    opacity: 0.8;
}

.portfolio-project-description-right a,
.portfolio-project-description-left a {
  text-decoration: none;
  color: var(--primary-color);
}

.right-arrow-link {
  max-height: 45px;
}

.portfolio-project-description-left {
  background: linear-gradient(
    90deg,
    #e8f1ff 0%,
    #ecf4ff 41.15%,
    #f3f8ff 65.1%,
    #ffffff 93.75%
  );
  padding: 50px 70px;
  color: var(--primary-color);
}

#overwrite footer {
  margin-top: 60px;
  background-color: var(--secondary-color);
}

.card {
  text-align: center;
  border: none;
  background-color: var(--secondary-color);
  padding-top: 20px;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-color);
}

footer a {
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 576px) {
  .dots {
    display: none;
  }
  h1,
  h2,
  h3 {
    zoom: 80%;
  }
  h1 {
    padding-top: 10px;
  }
  .navigation-link {
    margin: 25px auto 15px;
  }
  a.primary-link {
    zoom: 80%;
  }
  .eye-project-img,
  .weather-project-img {
    display: block;
    margin: 20px auto;
    max-width: 60%;
  }
  #overwrite footer {
    margin-top: 0px;
  }
  .card {
    zoom: 70%;
  }
}

@media (max-width: 768px) {
  .card {
    zoom: 70%;
  }
}

@media (min-width: 768px) {
  .navigation-link {
    margin-bottom: 70px;
  }
  .eye-project-img {
    padding-left: 50px;
  }
  .weather-project-img {
    padding-right: 50px;
  }
  #overwrite footer {
    margin-top: 100px;
  }
}
